{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

      <div class="landing-page">
        <div class="content">
          <div class="container">
            <div class="info">
              <h1>Welcome to QuizTests</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus odit nihil ullam nesciunt quidem iste, Repellendus odit nihil</p>
                {% if not user.is_authenticated %}
                    <a href="{% url 'account:login' %}"> Login </a>
                {% endif %}
            </div>
            <div class="image center-el">
                <span class="spin-animation center-el"></span>
                <span class="animation-text">Hello</span>
            </div>
          </div>
        </div>
      </div>

{% endblock %}